/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	/* header section */
.menu li a {
    padding: 0  !important;
    text-align: right;
}
/* slider section */
.slider{
	padding-bottom: 60px;
}
.slider_content {
    margin-top: 0px;
}
.cid{
	bottom: -45px;
}
.cid li{
	width: 13px;
	height: 13px;
}
.slider_content h1{
	font-size: 25px;
}
.slider_content h2{
	margin: 10px 0;
}
.slider_icon li{
	font-size: 35px;
}
/* features section */
.features{
	padding-top: 50px;
	padding-bottom: 70px;
}
.c_h1{
	font-size: 28px;
	margin-bottom: 10px;
}
.c_p{
	font-size: 18px;
	word-spacing: 0;
}
.m_t_60{
	margin-top: 30px;
}
.f_text{
	text-align: center;
}

.f_icon{
	font-size: 40px;

}
.f_text h2{
	margin-top: 5px;
	margin-bottom:10px;
	font-size: 20px;
}
/* contact section */

.contact{
	padding-top: 50px;
	padding-bottom: 70px;
}
.f_form{
	margin-bottom: 0;
}
.f_submit{
	margin-top: 20px;
	margin-bottom: 50px;
}
.s_icon{
	margin: 0 0;
	font-size: 25px;
}
/* footer section */
footer{
	padding-bottom: 50px;
}
.f_1{
	text-align: center;
	margin-bottom: 50px;
}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
/* header section	 */
.menu li a {
    padding: 0  !important;
    text-align: right;
}
/* slider section */
.slider{
	padding-bottom: 60px;
}
.slider_content {
    margin-top: 20px;
}
.cid{
	bottom: -45px;
}
.cid li{
	width: 13px;
	height: 13px;
}
/* features section */
.features{
	padding-top: 60px;
	padding-bottom: 80px;
}
.m_t_60{
	margin-top: 40px;
}
.f_text{
	text-align: center;
}
/* contact section */
.contact{
	padding-top: 60px;
	padding-bottom: 80px;
}
/* footer section */
.f_1{
	text-align: center;
	margin-bottom: 50px;
}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
/* header section */
.menu li a {
    padding: 0  !important;
    text-align: right;
}
/* slider section */
.slider_content {
    margin-top: 30px;
}
.slider_content h1{
	font-size: 30px;
}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
